@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .search-bar {
    @apply p-10 flex items-center flex-col
  }

  .card {
    @apply hover:scale-105 duration-150 transition-all cursor-pointer
  }

  .info {
    @apply justify-center 
  }

  .main {
    @apply bg-second h-screen
  }

  .details-page {
    @apply bg-second h-screen p-10
  }
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
/* 
.info-section {
  background-image: url("/image/background2.png")
} */
